.btn {
    background-color: none;
    border: none;
  }
  .winner {
      background-color: #a0d1ca;
  }
  .nav-bg-dark {
      background-color: #000000 !important;
  }
  
  .bg-white {background-color: #ffffff;}
  .bg-dark-orange { background-color: #8a391b !important;}
  .bg-medium-orange {background-color: #b86125 !important;}
  .bg-light-orange {background-color: #f68d2e !important;}
  .bg-cream {background-color: #f8e9d6 !important;}
  .bg-grey {background-color: #d6d2c4!important;}
  .bg-light-grey {background-color: #f8f9fa!important;}
  .bg-light-aqua {background-color: #a0d1ca !important;}
  
  .card-header {
      font-weight: bold;
      font-size: 24px;
      color: #ffffff;
  }
  .card-footer {
      font-size: 20px;
      font-weight: bold;
      color: #000000;
  }
  .card-body {
      padding: .75rem;
  }
  .image-row {
      display: flex;
  }
  
  .image-col {
      flex: 50%;
      padding: 0; 
  }
  @media screen and (max-width: 500px) {
      .image-col {
        width: 100%;
      }
  }
  .card-return-icon-left
  {
    z-index: 30 !important;
    position: absolute !important;
    right: .65rem !important;
    top: .50rem !important;
  }
  .card-stats-right
  {
    z-index: 30 !important;
    position: absolute !important; 
    right: .65rem !important;
    top: .50rem !important;
  }
  
  /* css for flipping cards */
  .card-flip .back {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }
  .card-flip.flipped {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }
  /* .card-flip.flipped .front { 
    -webkit-visibility: hidden !important;
    -moz-visibility: hidden !important;
    -o-visibility: hidden !important;
    visibility: hidden !important;
  } */

  .card-flip.flipped .back { 
    -webkit-backface-visibility: visible !important;
    -moz-backface-visibility: visible !important;
    -o-backface-visibility: visible !important;
    backface-visibility: visible !important;
  }
  .card-flip {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .card-flip div {
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  /* used to flip card correctly in IE browser */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .card-flip.flipped .front { 
      visibility: hidden !important;
    }
  
    .card-flip.flipped .back { 
      backface-visibility: visible !important;
    }
  }
  /* used for Mozilla browsers */
  .card-flip.flipped .card-stats-right { visibility: hidden; }
  .text-small-75 { font-size: .75rem !important;}
  .text-small-90 { font-size: .90rem !important;} 
  .h-auto { height: auto !important;}
  
  .card-custom {
    overflow: hidden;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  }